<!-- <h1>Invoice for Booking ></h1>

<p>Payment ID: <%= _id %>
</p>
<p>Amount Paid: $<%= amount %>
</p>

<p>Thank you for your booking, <%= name %>!</p>

<p>
  <a href="<%= invoiceDownloadLink %>" download>Download Invoice PDF</a>
</p> -->